.inlineEditNameBox {
    position: absolute;
    background-color: white;
    min-width: 100px;
    width: 100px;
    border: 1px solid #0099d3;
}

.inlineNameEditBoxNameBox {
    position: absolute;
    background-color: white;
    outline: none;
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100px;
    font-weight: normal;
    line-height: 1.2;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    border-top: 1px solid #0099d3;
    border-bottom: 1px solid #0099d3;
}

[contenteditable] {
    padding:1px;
}

[data-text]:empty:before {
     content: attr(data-text);
     color: #888;
     font-style: italic;
}
